Source: gdb-rtems4.10
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7), autotools-dev, texinfo,
               libncurses5-dev, libexpat1-dev,
               python-dev,
Standards-Version: 3.8.0
Homepage: http://www.gnu.org/software/gdb/

Package: gdb-powerpc-rtems4.10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gdb (>= 7.0~),
         gdb (>= 7.1~) | gdb-common-rtems4.10 (= ${source:Version}),
Description: GDB for RTEMS on powerpc
 The GNU debugger from the RTEMS real-time OS on powerpc

Package: gdb-i386-rtems4.10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         gdb (>= 7.0~),
         gdb (>= 7.1~) | gdb-common-rtems4.10 (= ${source:Version}),
Description: GDB for RTEMS on i386
 The GNU debugger from the RTEMS real-time OS on i386

Package: gdb-common-rtems4.10
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: gdb (>= 7.1~),
Description: GDB for RTEMS on powerpc
 Common files which will are not provided by host gdb <= 7.1
